body {
    background: White;
    margin-top: 80px;
}

/* Changing the width of the container (width of the website) */
@media (min-width: 1200px) {
    .container{
        max-width: 1300px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: Black;
}

/* Navigation Bar
.bg-steel {
    background-color: #569358;
}*/

/* Nav Buttons */
a.nav-item {
    color: Black;
    font-size: 110%;
}

a.nav-item:hover {
    color: White;
    font-size: 110%;
}
