{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>What is this website about?</h1>
    <p>This website is the result of a bachelor semester project and aims at providing tool-support to monitor the health
        of earth's ecosystems based on remote sensing data from the Landsat satellite. In this BSP the student will focus
        on processing and displaying data from the Landsat 8 satellite. He may build his website based on the previous BSP
        performed in the team. A selection of some well-known so-called indices will be selected to process the satellite
        data and create fake-color images that illustrate some selected attributes of the area, for instance temperature,
        air quality, vegetation index, etc.
    </p>
{% endblock content %}
